@{
    ViewData["Title"] = "Inicio";
}

<div class="text-left">
    <h1 class="display-4" style="text-emphasis">Educación en Derechos Humanos</h1>
</div>
<div class="text-left">
    <p>¿Conoces tus derechos? La <i>Declaración Universal de Derechos Humanos</i> garantiza los derechos y libertades básicas de todas las personas del mundo.</p>
    <p>
        Para defender tus derechos es necesario que primero los conozcas. En este curso interactivo aprenderás sobre tus derechos como ser humano, de tal forma
        que los puedas defender por ti y por los demás.
    </p>

    <h2 class="display-5">En este curso aprenderás sobre:</h2>
    <list>
        <li class="check-list">Los 30 derechos humanos que todas las personas tienen</li>
        <li class="check-list">Por qué tenemos derechos humanos y cómo empezaron</li>
        <li class="check-list">La importancia de los derechos humanos para todos</li>
    </list>
</div>
<br />
@{
    if (!User.Identity.IsAuthenticated)
    {
        <a class="btn-login" asp-controller="Session" asp-action="Login">Iniciar sesión</a>
        <br />
        <a class="btn-signup" asp-controller="Session" asp-action="Signup">Registrarse</a>
    }
    else
    {
        <a class="btn-start" asp-controller="Learning" asp-action="HumanRights">Empezar</a>
    }
}

<!--a class="btn-start-course" asp-controller="Course" asp-action="Index">Empezar el curso</a -->
<br />

