@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Educación Derechos Humanos";
}

<div class="section round-all-corners text-left">
    <div class="section-title-active round-top-corners"> <h3 class="display-6 text-white">Introducción e historia</h3> </div>
    <div class="section-item"> <a class="pending-item text-dark">Historia de los derechos humanos</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Comprueba tus conocimientos</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Introducción a los derechos humanos</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Detrás de los derechos humanos</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">La declaración de los derechos humanos</a> </div>
    <div class="section-item round-bottom-corners"> <a class="pending-item text-dark">¿Qué aprendiste?</a> </div>
</div>
<br/>
<div class="section round-all-corners text-left">
    <div class="section-title round-top-corners"> <h3 class="display-6">Artículos del 1 al 5</h3> </div>
    <div class="section-item"> <a class="pending-item text-dark">Comprueba tus conocimientos</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 1</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">1º Derecho Humano: Nacemos libres e iguales</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 2</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">2º Derecho Humano: No discriminar</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 3</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">3º Derecho Humano: El derecho a la vida</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 4</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">4º Derecho Humano: No a la esclavitud</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 5</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">5º Derecho Humano: No a la tortura</a> </div>
    <div class="section-item round-bottom-corners"> <a class="pending-item text-dark">¿Qué aprendiste?</a> </div>
</div>
<br />
<div class="section round-all-corners text-left">
    <div class="section-title round-top-corners"> <h3 class="display-6">Artículos del 6 al 11</h3> </div>
    <div class="section-item"> <a class="pending-item text-dark">Comprueba tus conocimientos</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 6</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">6º Derecho Humano: Tienes derechos sin importar dónde vayas</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 7</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">7º Derecho Humano: Todos somos iguales ante la ley</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 8</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">8º Derecho Humano: Los derechos humanos están protegidos por ley</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 9</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">9º Derecho Humano: No al arresto injustificado</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 10</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">10º Derecho Humano: El derecho a ser juzgado ante la ley</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 11</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">11º Derecho Humano: Siempre somos innocentes hasta que se demuestre lo contrario</a> </div>
    <div class="section-item round-bottom-corners"> <a class="pending-item text-dark">¿Qué aprendiste?</a> </div>
</div>
<br />
<div class="section round-all-corners text-left">
    <div class="section-title round-top-corners"> <h3 class="display-6">Artículos del 12 al 18</h3> </div>
    <div class="section-item"> <a class="pending-item text-dark">Comprueba tus conocimientos</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 12</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">12º Derecho Humano: El derecho a la privacidad</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 13</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">13º Derecho Humano: La libertad de movimiento</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 14</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">14º Derecho Humano: El derecho al asilo</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 15</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">15º Derecho Humano: El derecho a una nacionalidad</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 16</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">16º Derecho Humano: Matrimonio y familia</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 17</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">17º Derecho Humano: El derecho a la propiedad</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 18</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">18º Derecho Humano: Libertad de pensamiento</a> </div>
    <div class="section-item round-bottom-corners"> <a class="pending-item text-dark">¿Qué aprendiste?</a> </div>
</div>
<br />
<div class="section round-all-corners text-left">
    <div class="section-title round-top-corners"> <h3 class="display-6">Artículos del 19 al 25</h3> </div>
    <div class="section-item"> <a class="pending-item text-dark">Comprueba tus conocimientos</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 19</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">12º Derecho Humano: Libertad de expresión</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 20</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">20º Derecho Humano: El derecho a la reunion pública</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 21</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">21º Derecho Humano: El derecho a la democracia</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 22</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">22º Derecho Humano: Seguridad Social</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 23</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">23º Derecho Humano: Derechos de los trabajadores</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 24</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">24º Derecho Humano: El derecho a jugar</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 25</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">25º Derecho Humano: Refugio y alimento para todos</a> </div>
    <div class="section-item round-bottom-corners"> <a class="pending-item text-dark">¿Qué aprendiste?</a> </div>
</div>
<br />
<div class="section round-all-corners text-left">
    <div class="section-title round-top-corners"> <h3 class="display-6">Artículos del 26 al 30</h3> </div>
    <div class="section-item"> <a class="pending-item text-dark">Comprueba tus conocimientos</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 26</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">26º Derecho Humano: El derecho a la educación</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 27</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">27º Derecho Humano: Derechos de autor</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 28</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">28º Derecho Humano: Un mundo libre y justo</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 29</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">29º Derecho Humano: Responsabilidad</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">Declaración Universal de Derechos Humanos: Artículo 30</a> </div>
    <div class="section-item"> <a class="pending-item text-dark">30º Derecho Humano: Nadie te puede quitar tus Derechos Humanos</a> </div>
    <div class="section-item round-bottom-corners"> <a class="pending-item text-dark">¿Qué aprendiste?</a> </div>
</div>