@{
    ViewData["Title"] = "Error de acceso";
}

<div class="text-left">
    <h1 class="display-4">Error al cambiar la contraseña</h1>
</div>
<div class="row mt-5">
    <div class="col-sm-4 offset-sm-4">
        <p>Ocurrió un error al intentar cambiar la contraseña, la causa puede ser una de las siguientes:</p>
        <ul>
            <li>El usuario es inválido o está vacío</li>
            <li>La contraseña ingresada no coincide con la almacenada en nuestros registros o está vacía</li>
        </ul>
        <a asp-controller="Session" asp-action="PasswordReset" class="btn btn-dark">Regresar</a>
    </div>
</div>