@model fend.Models.ResetViewModel

@{
    ViewData["Title"] = "Olvidé mi contraseña";
}

<h1>Cambio de contraseña</h1>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="PasswordReset" asp-controller="Session">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for=@Model.Username class="control-label"></label>
                <input asp-for=@Model.Username class="form-control" />
                <span asp-validation-for=@Model.Username class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.Password class="control-label"></label>
                <input asp-for=@Model.Password class="form-control" />
                <span asp-validation-for=@Model.Password class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.PasswordConfirmation class="control-label"></label>
                <input asp-for=@Model.PasswordConfirmation class="form-control" />
                <span asp-validation-for=@Model.PasswordConfirmation class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=@Model.VerificationCode class="control-label"></label>
                <input asp-for=@Model.VerificationCode class="form-control selection-off" id="verificationCode" 
                    readonly onselectstart="return false;" onmousedown="return false;"/>
            </div>
            <div class="form-group">
                <label asp-for=@Model.CodeConfirmation class="control-label"></label>
                <input asp-for=@Model.CodeConfirmation class="form-control" id="verifyCodeConfirm" />
                <span asp-validation-for=@Model.CodeConfirmation class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" id="pwdReset" value="Cambiar mi contraseña" class="btn btn-primary"/> 
                <a class="btn btn-danger" asp-controller="Home" asp-action="Index">Cancelar</a> 
            </div>

        </form>
    </div>
</div>

<script>
    var vc = document.getElementById("verificationCode");
    var vcc = document.getElementById("verifyCodeConfirm");
    var btn = document.getElementById("pwdReset");

    vcc.addEventListener("input", function () {
        if (vcc.value.trim() !== "") { // || vc.value === vcc.value) {
            btn.disabled = false;
        } else {
            btn.disabled = true;
        }
    });
</script>